<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<%-include('header.ejs')%>

   <link rel="stylesheet" href="/css/resources.css">

  </head>

<body>
    <%-include('navbar.ejs')%>
    <main>

        <section class="main-banner" id="top">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 align-self-center">
                  <div class="header-text" style="text-align: center;">
                    <h2>INTRODUCTION TO <em>PROGRAMMING </em></h2>
                    <div class="main-button-gradient">
                     
                      <div><a href="/resources/programming">Begin</a></div>
                      
                  </div>
                 
                </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-image">
                    <img src="assets/images/banner-right-image.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </section>
  <section class="simple-cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 offset-lg-1">
          <div class="left-image">
            <img src="assets/images/prog.png" alt="">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          
          <h4 style="text-align: center;">A deep Dive Into HTML</h4>
          <div class="main-button-gradient">
                     
            <div><a href="/resources/html">Let's Start</a></div>
            
        </div>
         
        </div>
      </div>
    </div>
  </section>
  <section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text" style="text-align: center;">
            <h2>STYLES AND MORE USING <em>CSS!</em></h2>
            <div class="main-button-gradient">
             
              <div><a href="/resources/css">Begin</a></div>
              
          </div>
         
        </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="assets/images/banner-right-image.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>

      <%-include('footer.ejs')%>
  </body>
</html>